body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:823px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u17 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u18 {
  position:absolute;
  left:448px;
  top:0px;
  width:375px;
  height:670px;
}
#u19 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:467px;
  top:309px;
  width:342px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
