body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u1 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:19px;
  top:364px;
  width:337px;
  height:124px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:114px;
  top:83px;
  width:242px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:13px;
  top:76px;
  width:91px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:146px;
  top:629px;
  width:83px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
