body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u59 {
  position:absolute;
  left:1011px;
  top:0px;
  width:375px;
  height:670px;
}
#u60 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1224px;
  top:325px;
  width:104px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1047px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1047px;
}
#u63 {
  position:absolute;
  left:2px;
  top:516px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1290px;
}
#u64 {
  position:absolute;
  left:516px;
  top:0px;
  width:375px;
  height:1290px;
}
#u65 {
  position:absolute;
  left:2px;
  top:637px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
