body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u27 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u28 {
  position:absolute;
  left:425px;
  top:0px;
  width:375px;
  height:670px;
}
#u29 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:16px;
  top:91px;
  width:343px;
  height:127px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:437px;
  top:309px;
  width:351px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
