body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u39 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:7px;
  top:29px;
  width:37px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u41 {
  position:absolute;
  left:393px;
  top:0px;
  width:375px;
  height:670px;
}
#u42 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
