body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u22 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:39px;
  top:165px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:228px;
  top:165px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:17px;
  top:557px;
  width:341px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
