body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u54 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:19px;
  top:317px;
  width:319px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
