body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:558px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u828 {
  position:absolute;
  left:206px;
  top:113px;
  width:357px;
  height:434px;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:55px;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u830 {
  position:absolute;
  left:2px;
  top:20px;
  width:65px;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u831 {
  position:absolute;
  left:69px;
  top:0px;
  width:137px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u832 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:55px;
}
#u833 {
  position:absolute;
  left:206px;
  top:0px;
  width:146px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u834 {
  position:absolute;
  left:2px;
  top:20px;
  width:142px;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u835 {
  position:absolute;
  left:0px;
  top:55px;
  width:69px;
  height:48px;
}
#u836 {
  position:absolute;
  left:2px;
  top:16px;
  width:65px;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:48px;
}
#u837 {
  position:absolute;
  left:69px;
  top:55px;
  width:137px;
  height:48px;
  font-size:12px;
}
#u838 {
  position:absolute;
  left:2px;
  top:16px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:48px;
}
#u839 {
  position:absolute;
  left:206px;
  top:55px;
  width:146px;
  height:48px;
  font-size:12px;
}
#u840 {
  position:absolute;
  left:2px;
  top:16px;
  width:142px;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u841 {
  position:absolute;
  left:0px;
  top:103px;
  width:69px;
  height:50px;
}
#u842 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u843 {
  position:absolute;
  left:69px;
  top:103px;
  width:137px;
  height:50px;
  font-size:12px;
}
#u844 {
  position:absolute;
  left:2px;
  top:17px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
}
#u845 {
  position:absolute;
  left:206px;
  top:103px;
  width:146px;
  height:50px;
  font-size:12px;
}
#u846 {
  position:absolute;
  left:2px;
  top:18px;
  width:142px;
  word-wrap:break-word;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u847 {
  position:absolute;
  left:0px;
  top:153px;
  width:69px;
  height:50px;
}
#u848 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u849 {
  position:absolute;
  left:69px;
  top:153px;
  width:137px;
  height:50px;
  font-size:12px;
}
#u850 {
  position:absolute;
  left:2px;
  top:17px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
}
#u851 {
  position:absolute;
  left:206px;
  top:153px;
  width:146px;
  height:50px;
  font-size:12px;
}
#u852 {
  position:absolute;
  left:2px;
  top:18px;
  width:142px;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
}
#u853 {
  position:absolute;
  left:0px;
  top:203px;
  width:69px;
  height:46px;
}
#u854 {
  position:absolute;
  left:2px;
  top:15px;
  width:65px;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
}
#u855 {
  position:absolute;
  left:69px;
  top:203px;
  width:137px;
  height:46px;
  font-size:12px;
}
#u856 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:46px;
}
#u857 {
  position:absolute;
  left:206px;
  top:203px;
  width:146px;
  height:46px;
  font-size:12px;
}
#u858 {
  position:absolute;
  left:2px;
  top:15px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u859 {
  position:absolute;
  left:0px;
  top:249px;
  width:69px;
  height:50px;
}
#u860 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u861 {
  position:absolute;
  left:69px;
  top:249px;
  width:137px;
  height:50px;
  font-size:12px;
}
#u862 {
  position:absolute;
  left:2px;
  top:17px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
}
#u863 {
  position:absolute;
  left:206px;
  top:249px;
  width:146px;
  height:50px;
  font-size:12px;
}
#u864 {
  position:absolute;
  left:2px;
  top:17px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u865 {
  position:absolute;
  left:0px;
  top:299px;
  width:69px;
  height:50px;
}
#u866 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u867 {
  position:absolute;
  left:69px;
  top:299px;
  width:137px;
  height:50px;
  font-size:12px;
}
#u868 {
  position:absolute;
  left:2px;
  top:17px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
}
#u869 {
  position:absolute;
  left:206px;
  top:299px;
  width:146px;
  height:50px;
  font-size:12px;
}
#u870 {
  position:absolute;
  left:2px;
  top:17px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u871 {
  position:absolute;
  left:0px;
  top:349px;
  width:69px;
  height:50px;
}
#u872 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u873 {
  position:absolute;
  left:69px;
  top:349px;
  width:137px;
  height:50px;
  font-size:12px;
}
#u874 {
  position:absolute;
  left:2px;
  top:17px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
}
#u875 {
  position:absolute;
  left:206px;
  top:349px;
  width:146px;
  height:50px;
  font-size:12px;
}
#u876 {
  position:absolute;
  left:2px;
  top:17px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u877 {
  position:absolute;
  left:0px;
  top:399px;
  width:69px;
  height:30px;
}
#u878 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u879 {
  position:absolute;
  left:69px;
  top:399px;
  width:137px;
  height:30px;
  font-size:12px;
}
#u880 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u881 {
  position:absolute;
  left:206px;
  top:399px;
  width:146px;
  height:30px;
  font-size:12px;
}
#u882 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
}
#u883 {
  position:absolute;
  left:298px;
  top:174px;
  width:92px;
  height:35px;
}
#u884 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
}
#u885 {
  position:absolute;
  left:298px;
  top:226px;
  width:92px;
  height:35px;
}
#u886 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
}
#u887 {
  position:absolute;
  left:298px;
  top:281px;
  width:92px;
  height:35px;
}
#u888 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
